#create-user {
    position: relative;
    display: flex;
    width: 32rem;
    flex-direction: column;

    & .name-label {
        position: absolute;
        z-index: 1;
        top: 1rem;
        margin: 0 1.2rem;
        width: 20.5%;
        color: rgb(102, 102, 102);
        background-image: linear-gradient(
                transparent,
                rgb(255, 255, 255) 50%,
                rgb(255, 255, 255) 60%,
                transparent 65%,
                transparent 65%
        );
        transition: top 300ms,
        font-size 300ms,
        line-height 300ms,
        width 300ms;

        &.candidate {
            border-radius: 30%;
            top: -0.6rem;
            font-size: 1.2rem;
            line-height: 1.2rem;
            width: 17.5%;
        }
    }

    & .name {
        height: 4rem;
        width: 100%;
        padding: 0 1.2rem;
        border-radius: 0.4rem;
        border: 0.1rem solid rgb(153, 153, 153);
        margin: 0 0 1.2rem;

        &:focus {
            outline: none;
            border-radius: 0.4rem;
            border: 0.1rem solid rgb(0, 124, 135);
        }
    }

    & .submit {
        width: 100%;
    }

}
