#create-user {
    position: relative;
    display: flex;
    width: 32rem;
    flex-direction: column;

    & .submit {
        width: 100%;
        position: relative;
        bottom: 0;
        transition: bottom 300ms, z-index 0ms 300ms;

        &:disabled {
            bottom: 5.35rem;
        }
    }

}
