.fan {
    min-height: 4rem;
    height: fit-content;
    position: relative;

    & .stick,
    & .guard.bottom {
        width: 100%;
        bottom: 0;
        margin: 2rem 0 0;
        opacity: 0;
        position: absolute;

        &.unfolded {
            opacity: 1;
            position: relative;
        }

        &.enter {
            transition: bottom 300ms;
        }

        &.enter-active {
            opacity: 1;
            bottom: -6rem;
        }

        &.exit {
            transition: bottom 300ms;
        }

        &.exit-active {
            bottom: 6rem;
        }
    }

    & .guard.top {
        z-index: 2;
    }

    & .stick {
        z-index: 1;
    }

    & .guard.bottom {
        z-index: 0;
    }
}
