.accordion {
    position: relative;
    height: fit-content;
    width: 32rem;

    & .bellow {
        position: relative;
        z-index: 1;
        width: 100%;
        margin: 0 0 1.5rem;
    }

    & .submit {
        position: relative;
        z-index: 0;
        width: 100%;
        transition: transform 250ms;

        &:disabled {
            transform: translate(0, -5.5rem);
        }
    }
}
