#content {
    display: flex;
    justify-content: center;
    padding: 20rem 0 0;

    & .authorization {
        width: 32rem;

        &.remove {
            position: relative;
            animation: 500ms ease-out 0ms 1 remove;
        }
    }
}

@keyframes remove {
    0% {
        right: 0;
    }
    100% {
        right: 65vmax;
    }
}
