.fancy-input {
    position: relative;

    & .title {
        position: absolute;
        z-index: 1;
        margin: 0 1.2rem;
        width: 20.5%;
        color: var(--666666);
        pointer-events: none;
        top: 1.2rem;
        background-image: linear-gradient(
                transparent 50%,
                white 45%,
                white 65%,
                transparent 60%
        );
        transition: top 300ms,
        font-size 300ms,
        line-height 300ms,
        color 300ms,
        width 300ms;
    }

    & input {
        width: 100%;
        height: 4rem;
        padding: 0 1.2rem;
        border-radius: 0.4rem;
        color: var(--666666);
        border: 0.1rem solid var(--999999);

        &:focus {
            outline: none;
        }
    }

    & .max-length {
        position: absolute;
        width: 100%;
        display: block;
        text-align: end;
        font-size: 1rem;
        color: var(--007c87);
        z-index: 1;
        bottom: 0.3rem;
        right: 0.5rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity 300ms;
    }

    & .errors {
        position: absolute;
        color: var(--9e0024);
        padding: 0 1.2rem;
        font-size: 1.2rem;
        line-height: 1.4rem;
        z-index: -2;
        bottom: 0;
        transition: bottom 300ms ease-out;
    }

    &.candidate {
        color: var(--007c87);

        & .title {
            top: -0.6rem;
            font-size: 1.2rem;
            line-height: 1.2rem;
            width: 5.6rem;
            color: inherit;
        }

        & input {
            border: 0.1rem solid var(--007c87);
        }

        & .max-length {
            opacity: 1;
        }
    }

    &.invalid {
        color: var(--9e0024);

        & input {
            color: inherit;
            border: 0.1rem solid var(--9e0024);
        }

        & .max-length {
            color: inherit;
        }

        & .errors {
            bottom: -1.4rem;
        }
    }
}
