#content {
    display: flex;
    justify-content: center;
    height: 100vh;

    & .signup {
        margin: 20rem 0;

        &.remove {
            position: relative;
            animation: 500ms ease-out 0ms 1 remove;
        }
    }
}

@keyframes remove {
    0% {
        right: 0;
    }
    100% {
        right: 65vmax;
    }
}
