@import "./colors.css";
@import "./button.css";

html {
    font-size: 62.5%;
    height: 100%;

    & body,
    & #root {
        min-height: 100vh;
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    & * {
        font-family: "Roboto", sans-serif;
    }

    & *,
    & *::before,
    & *::after {
        box-sizing: border-box;
    }

    & body,
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & ul,
    & ol,
    & li,
    & p,
    & pre,
    & blockquote,
    & figure,
    & hr {
        margin: 0;
        padding: 0;
    }

    & ul {
        list-style: none;
    }

    & input,
    & textarea,
    & select {
        color: inherit;
        font: inherit;
        letter-spacing: inherit;
    }

    & [hidden] {
        display: none;
    }
}


