button {
    all: unset;
    height: 4rem;
    border-radius: 0.4rem;
    width: 100%;

    &.primary {
        text-align: center;
        background-color: var(--007c87);
        color: var(--ffffff);
        -webkit-text-fill-color: var(--ffffff);

        &:hover {
            background-color: var(--035a61);
        }

        &:focus {
            background-color: var(--008f9b);
        }
    }
}
