button {
    all: unset;
    text-align: center;
    height: 4rem;
    border-radius: 0.4rem;

    &.primary {
        background-color: var(--007c87);
        color: var(--ffffff);

        &:hover {
            background-color: var(--035a61);
        }

        &:focus {
            background-color: var(--008f9b);
        }
    }
}
