:root {
    --ffffff: rgb(255, 255, 255);
    --999999: rgb(153, 153, 153);
    --666666: rgb(102, 102, 102);


    --e4eefe: rgb(228, 238, 254);
    --cadefd: rgb(202, 222, 253);
    --96c0f8: rgb(150, 192, 248);
    --69a7f2: rgb(105, 167, 242);
    --4497e8: rgb(68, 151, 232);
    --278edc: rgb(39, 142, 220);
    --138ccc: rgb(19, 140, 204);
    --058db7: rgb(5, 141, 183);
    --008f9b: rgb(0, 143, 155);
    --008c9f: rgb(0, 140, 159);
    --008382: rgb(0, 131, 130);
    --007c87: rgb(0, 124, 135);
    --00665a: rgb(0, 102, 90);
    --035a61: rgb(3, 90, 97);


    --fff5f2: rgb(255, 245, 242);
    --fee1d6: rgb(254, 225, 214);
    --fdccbb: rgb(253, 204, 187);
    --faa386: rgb(250, 163, 134);
    --f57d57: rgb(245, 125, 87);
    --ed5a30: rgb(237, 90, 48);
    --e43d13: rgb(228, 61, 19);
    --d72400: rgb(215, 36, 0);
    --c71a00: rgb(199, 26, 0);
    --b30f00: rgb(179, 15, 0);
    --9e0024: rgb(158, 0, 36);
    --9e0600: rgb(158, 6, 0);
    --870000: rgb(135, 0, 0);
}

